.index,
.show.category {
    header {
        @include flex(row, space-between);
        a {
            flex-shrink: 0;
        }
    }
    h1 {
        margin-top: 0;
        font-size: 45px;
    }
    h3 {
        font-size: 30px;
        font-weight: 700;
        margin: 0 0 25px;
    }
    section:not(.btns-box) {
        padding: 20px;
        background-color: #eee;
        border-radius: 16px;
        margin-bottom: 40px;
    }
    .btns-box {
        margin-bottom: 100px;
    }
    .videos {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1em;
        .video-texts {
            padding: 5px 0 0;
            margin: 0;
            @include flex(column, flex-start, flex-start);
            p {
                line-height: 120%;
                font-size: 18px;
                max-width: 100%;
                overflow-wrap: break-word
            }
        }
    }
    .alert-box {
        height: 50px;
        margin-bottom: 10px;
    }
    .pagination {
        margin-top: 40px;
    }
    .alert.alert-success {
        margin: 0;
    }
}

.show {
    main {
        display: grid;
        grid-template-columns: repeat(2, minmax(40%, 1fr));
    }
    h4 {
        margin: 0;
    }
    .btn-success {
        margin-top: 20px;
    }
}

.create {
    max-width: 800px;
    margin: 0 auto;
    @media (max-width: 850px) {
        width: 90%;
    }
    button {
        background-color: transparent;
        border: none;
    }
}
